<!-- stuff in here runs on all pages of the website-->

<!DOCTYPE html>
<html>
<head>
  <title>LBXchange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- This is how to add a partial to an html page-->
<%= render '/layouts/nav' %>

<div class = "container">
    <%= yield %>
</div>

</body>
</html>
